{% extends '_layouts/table.twig' %}
{% set title = 'Users' %}

{% block headers %}
	<th>Username</th>
	<th>Ratings</th>
	<th>View</th>
{% endblock %}

{% block rows %}
	{% for user in users %}
		<tr>
			<td>{{ user.name }}</td>
			<td>{{ user.ratings.count() }}</td>
			<td class="text-center">
				<a href="{{ URL.route('users.show', user.slug) }}"><i class="glyphicon glyphicon-eye-open"></i></a>
			</td>
		</tr>
	{% endfor %}
{% endblock %}
