# Dotenv
.env
.env.gen

# Cached and compiled
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
npm-debug.log
public/builds
storage/framework

# Tests
tests/codeception/_output
tests/codeception/_data/dump.sql

# Dependencies
/public/components
/node_modules
/vendor
