.navbar-default {
	border-radius: 0;

	.navbar-brand {
		.logo {
			width: 0.75em;
			display: inline-block;
			margin-right: 0.75rem;
			position: relative;
			bottom: 3px;
		}
		em {
			opacity: 0.55;
		}
	}

	.dropdown {
		img {
			display: inline-block;
			width: 4rem;
			margin: 1rem 0;
			float: left;
			box-shadow: 0 0 0 5px rgba(black, 0.25);
		}

		> a {
			display: inline-block;
		}
	}

	.navbar-nav {
		> li {
			> .cta {
				background: $color-green;
				transition: background 0.3s;

				&:hover, &:active {
					background: lighten($color-green, 5);
					color: white;
				}
			}
		}

	}
}
