.navbar-default {
	border-radius: 0;

	.navbar-brand em {
		opacity: 0.55;
	}

	.navbar-nav {
		> li {
			> .cta {
				background: $color-green;
				transition: background 0.3s;

				&:hover, &:active {
					background: lighten($color-green, 5);
					color: white;
				}
			}
		}

	}
}
