{% extends '_layouts/global.twig' %}
{% set title = 'About furnace' %}

{% block content %}
	<header class="page-header">
		<h1>{{ title }}</h1>
	</header>

	<p>Furnace is made by </p>
{% endblock %}
