<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tracker</title>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand">Notetracker</a>
			</div>

			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Tracks</a></li>
					<li><a href="/trackers">Trackers</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container">
		{% block content %}{% endblock %}
	</main>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.21.5/js/jquery.tablesorter.combined.min.js"></script>
	<script>
		$('table').tablesorter();
	</script>
</body>
</html>
