<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title ? "#{title} - Furnace" : 'Furnace' }}</title>
	<link rel="stylesheet" href="{{ URL.asset('builds/css/styles.css') }}" />
</head>
<body>
	{% include '_partials/navigation.twig' %}

	<main class="container {{ body_classes }}">
		{% block content %}{% endblock %}
	</main>

	<script src="{{ URL.asset('builds/js/scripts.js') }}"></script>
</body>
</html>
