<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tracker</title>
	<link rel="stylesheet" href="/builds/css/styles.css" />
</head>
<body>
	{% include '_partials/navigation.twig' %}

	<main class="container">
		{% block content %}{% endblock %}
	</main>

	<script src="/builds/js/scripts.js"></script>
</body>
</html>
