{% extends '_layouts/global.twig' %}
{% set body_classes = 'container--wide' %}

{% block content %}
	<table class="table table-striped table-bordered table-hover" tablesorter>
		<thead>
		<tr>
			{% block headers %}{% endblock %}
		</tr>
		</thead>
		<tbody>
			{% block rows %}{% endblock %}
		</tbody>
	</table>
{% endblock %}

