legend {
	font-size: 2rem;
	text-align: center;
	background: $color-gray;
	padding: 0.5em;
	color: darken($color-gray, 15);
}

.label[disabled] {
	opacity: 0.15;
}

.selectize-control .selectize-input {
	padding: 0.75em;
	border: 2px solid #dce4ec;
	border-radius: 4px;
	box-shadow: none;
}
