legend {
	font-size: 2rem;
	text-align: center;
	background: $color-gray;
	padding: 0.5em;
	color: darken($color-gray, 15);
}

.label[disabled] {
	opacity: 0.15;
}

fieldset {
	margin: 2rem 0;

	&:first-child {
		margin-top: 0;
	}
}
