.table {
	font-size: 0.9em;

	th {
		&:active, &:focus {
			outline: 0;
		}

		&.tablesorter-headerAsc,
		&.tablesorter-headerDesc, {
			background-color: $color-green;
			color: white;

			&:hover {
				background-color: lighten($color-green, 5);
			}
		}

		&.tablesorter-headerAsc .tablesorter-header-inner:before {
			content: '\25B2';
			margin-right: 0.5rem;
		}

		&.tablesorter-headerDesc .tablesorter-header-inner:before {
			content: '\25BC';
			margin-right: 0.5rem;
		}
	}

	.danger td {
		border-color: $color-red-2;
	}

	.success td {
		background-color: rgba($color-green, 0.1) !important;

		&, a {
			color: black;
		}
	}

	.progress {
		margin: 0;
	}

	tfoot {
		background: grey(95);
		text-align: center;

		input[type="number"] {
			width: 8rem;
		}
	}
}

