{% extends '_layouts/global.twig' %}
{% from '_macros/table.twig' import progress %}

{% block content %}
	<table class="table">
		<thead>
		<tr>
			<th>Tracker</th>
			<th>Rating</th>
			<th>Tracks</th>
		</tr>
		</thead>
		<tbody>
		{% for tracker in trackers %}
			<tr>
				<td>{{ tracker.name }}</td>
				<td>{{ progress(tracker.rating, 3) }}</td>
				<td>{{ tracker.tracks.count() }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
