@import 'utils/variables';
@import 'utils/functions';

.container {
	width: 95%;
}

.label[disabled] {
	opacity: 0.25;
	background-color: grey(65);
}

@import 'components/table';
@import 'components/forms';
