<footer class="layout-footer">
	&copy;{{ "now"|date('Y') }} -
  Maxime Fabre -
	<a target="_blank" href="https://github.com/Anahkiasen/furnace">View sources</a> -
	<a target="_blank" href="http://beta.changehub.io/projects/Anahkiasen/furnace">Changelog</a>
</footer>
