<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">Furnace</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li {% if request.getPathInfo() == '/' %}class="active"{% endif %}>
					<a href="{{ URL.action('TracksController@index') }}">Tracks</a>
				</li>
				<li {% if request.getPathInfo() == '/trackers' %}class="active"{% endif %}>
					<a href="{{ URL.action('TrackersController@index') }}">Blacksmiths</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
